}

.cart-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-secondary);
    color: var(--color-white);
    font-size: 0.7rem;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.mobile-menu-btn {
    display: block;
}

@media (min-width: 768px) {
    .mobile-menu-btn {
        display: none;
    }
}